<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/37941c3d-4103-4d64-a7ad-c4fe05537253/resourcegroups/RGMilkteaProject/providers/Microsoft.Web/sites/MilkteaProductsAPI2</ResourceId>
    <ResourceGroup>RGMilkteaProject</ResourceGroup>
    <ApiResourceId>/subscriptions/37941c3d-4103-4d64-a7ad-c4fe05537253/resourceGroups/RGMilkteaProject/providers/Microsoft.ApiManagement/service/apim-mikteaproject/apis/63e6ff666a4873df21f6fea5</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://milkteaproductsapi2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5b1673d7-5a05-458c-91b7-e82eb4bad9bb</ProjectGuid>
    <MSDeployServiceURL>milkteaproductsapi2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MilkteaProductsAPI2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$MilkteaProductsAPI2</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>